body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}



.hi {
  visibility: hidden;
}

.searchBar {
    font-size:1;
}

.videoPlayer {
  grid-area: videoPlayer;
  justify-self: center;
  align-self: center;
}

.thumbnail {
  float: left;
}

.title {
  float: left;
}

.grid-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: auto;
}





